body{
    background-color: #FFEBCD;
}

.container{
    display:flex;
    flex-direction:column;
    margin: 20px 40px 40px 40px;
}

h1, h2{
    font-family: 'papyrus', 'fantasy';
}

.reset{
    margin-top: 80px;
}